body {
    overflow: hidden;
}

#ball {
    position: relative;
    top: 40%;
    left: 0;
    animation: move 1s infinite linear;
    animation-direction: alternate;


}

#ground {
    border: 10px dashed black;
    position: relative;
    top: 50%;
    left: 0;

}

#sky {
    width: 100vw;
}

@keyframes move {

    to {
        left: 87%;
        transform: rotate(360deg);
    }

}