.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

.App-logo{
  width:100px;
  height: 100px;
  padding:25px;

}

.App-header p{
  color:white;
  font-size:30px;
  text-align:center;
}

